<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463677421958-7ko21lo6185rq2nk6p5mjhgm55hf7bfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463677421958-7ko21lo6185rq2nk6p5mjhgm55hf7bfb</string>
	<key>API_KEY</key>
	<string>AIzaSyAtpjXwDfVhQpHQMMMD9fHTqOunbIP9tOk</string>
	<key>GCM_SENDER_ID</key>
	<string>463677421958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bellehouseniger.bellehouse.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bellehouse</string>
	<key>STORAGE_BUCKET</key>
	<string>bellehouse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463677421958:ios:b762f4ab8b9645506d1407</string>
</dict>
</plist>